<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="mx-auto max-w-sm space-y-4 text-gray-800">
    <div class="text-center">
      <h1 class="text-lg font-semibold leading-8 pb-1">Log in</h1>
      <p class="text-sm text-gray-600">
        <%= if @current_scope do %>
          You need to reauthenticate to perform sensitive actions on your account.
        <% else %>
          Enter your email to receive a login link.
        <% end %>
      </p>
    </div>

    <div :if={local_mail_adapter?()} class="alert alert-info">
      <.icon name="hero-information-circle" class="size-6 shrink-0" />
      <div>
        <p>You are running the local mail adapter.</p>
        <p>
          To see sent emails, visit <.link href="/dev/mailbox" class="underline">the mailbox page</.link>.
        </p>
      </div>
    </div>

    <.form :let={f} for={@form} as={:user} id="login_form_magic" action={~p"/users/log-in"}>
      <.input
        readonly={!!@current_scope}
        field={f[:email]}
        type="email"
        label="Email"
        class="w-full input bg-white border-gray-300 text-gray-800"
        autocomplete="email"
        required
        phx-mounted={JS.focus()}
      />
      <.button class="btn btn-primary w-full">
        Log in with email <span aria-hidden="true">→</span>
      </.button>
    </.form>
  </div>
</Layouts.app>
